*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

/* Estilos Header */

header {
    background-color: rgb(100, 0, 0);
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    background-color: white;
    width: 30%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 40px;
}

.container input{
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
}

.container button img {
    width: 25px;
}

.container button {
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.logo{
    padding: 20px;
}

.logo_img {
    width: 80px;
}

/*Estilos contenido principal */

.contenido{
    background-color: rgb(133, 131, 131);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posters{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    justify-content:space-between;
    padding-top: 30px;
    padding-bottom: 100px;
}

.pelicula{
    flex:1;
    display: flex;
    justify-content: center;
}


.img_p{
    height: 450px;
    width: 300px;
}


.greetings{
    width: 90%;
    height: 50%;
}

.headings{
    font-family: "Kobenhavn CS Heavy", sans-serif;
    display: inline;
    margin-top: 30px;
    font-size: 40px;
    color: rgb(100, 0, 0);
}

/*Estilos de la respuesta JSON*/

.respuesta_pelicula{
    background-color: rgb(133, 131, 131);
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}

.img_pelicula{
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.img_respuesta{
    height: 400px;
    width: 300px;
}

.titulo{
    font-family: "Kobenhavn CS Heavy", sans-serif;
    font-size: 70px;
    font-weight: bold;
    padding-bottom:10px ;
}

.info_pelicula{
    font-family: "Kobenhavn CS Light", sans-serif;
    padding-right: 40px;
}

.director{
    color: rgb(100, 0, 0);
    font-family: "Kobenhavn CS Heavy", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

